
.nav-button {
    -fx-background-color: #ff9166; 
    -fx-text-fill: white;          
    -fx-font-size: 18px;           
	-fx-font-weight: bold;
    -fx-background-radius: 0px;    
    -fx-cursor: hand;               
    -fx-padding: 10 15 10 15;         
}

.nav-button:hover {
    -fx-background-color: #ff7d4a;  
}


